* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
  background-color: transparent;
}

.contenir {
  width: 1290px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px;
  background: #FFF;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
}
.hero .acin {
  display: flex;
  align-items: center;
  gap: 0 22px;
}

.acin_1 {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.vla a {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.vla_1 a {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_btn {
  border: none;
  color: #222;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 121px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #000;
  background: #FFF;
}

.text_h1 {
  width: 490px;
  color: #222;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 50.4px;
  /* 120% */
}

.top {
  margin-top: 174px;
}

.text_div {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.text_p {
  width: 400px;
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
  /* 144% */
  margin-top: 10px;
}

.text_div {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 20px;
}

.text_a {
  margin-top: 20px;
}

.top {
  display: flex;
  align-items: center;
}

.text_img {
  margin-left: 200px;
}

.text_acin {
  margin-top: 32px;
  display: flex;
}

.text_2 {
  margin-top: 199px;
  margin-left: 135px;
  color: #222;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
  /* 120% */
}

.text_5 {
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
  width: 439px;
  margin-top: 13px;
  margin-left: 135px;
  margin-bottom: 13px;
}

.text_h2 {
  color: #222;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
  margin-top: 100px;
}

.text_6 {
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
  width: 451px;
  margin-top: 22px;
}

.text_9 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_7 {
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
  width: 366px;
  margin-top: 22px;
}

.text_8 {
  margin-top: 17px;
  width: 447.5px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
}

.text_2_2 {
  margin-left: 167px;
}

.text_h3 {
  color: #222;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
}

.text_2_p {
  color: #222;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
  width: 584px;
  margin-top: 22px;
}

.text_btn_2 {
  border: none;
  background-color: transparent;
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 60px;
}

.text_txt {
  margin: 0 auto;
  text-align: center;
}

.text_img-3 {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.text_img-3 {
  gap: 60px 107px;
  margin-top: 70px;
}

.text_img-2 {
  text-align: center;
  margin: 0 auto;
}

.tel-2 {
  margin-top: 146px;
  display: flex;
  align-items: center;
  gap: 0 100px;
  justify-content: center;
}

.tel-2-h2 {
  color: #222;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
}

.text_2-img {
  margin-right: 10px;
}

.text_2-p {
  margin-top: 10px;
  margin-bottom: 29px;
  width: 475px;
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
}

.text-2-img {
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.tel-h2 {
  margin-left: 135px;
  color: #222;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
}

.text-2-p-1 {
  margin-left: 135px;
  width: 478px;
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
  margin-bottom: 10px;
  margin-top: 22px;
}

.ttx {
  color: #222;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
  width: 374px;
}

.section-2 {
  margin-top: 199px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txett-p {
  color: #222;
  font-size: 18px;
  font-style: normal;
  margin-right: 100px;
  font-weight: 400;
  line-height: 25.92px;
  width: 475px;
  margin-bottom: 15px;
  margin-top: 19px;
}

.text_h2-2 {
  color: #222;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
  width: 277px;
}

.tel-h3 {
  margin-top: 22px;
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
  width: 433px;
}

.tel-h4 {
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.92px;
  width: 470px;
  margin-top: 12px;
}

.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.takes-2 {
  margin-left: 135px;
}

.text_img-4 {
  margin-top: 11px;
  margin-right: 20px;
}

.main {
  border-bottom: 1px solid #CBD6E2;
}

.footer {
  padding: 46px 0 60px 0;
}

.box-acin {
  display: flex;
}

.text_acin-ul {
  margin-right: 111px;
}

.text_acin-li a {
  margin-bottom: 23px;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_acin-li-2 a {
  margin-bottom: 23px;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_acin-li-3 a {
  color: #222;
  margin-bottom: 26px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_acin-ul-3 {
  margin-left: 111px;
}

.text_acin-li-4 a {
  color: #222;
  margin-bottom: 33px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_displey-flex {
  display: flex;
}

.text_img-5 {
  margin-top: 55px;
}

.text_p_acin {
  margin-top: 26px;
  color: #AAA;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.6px;
  width: 836px;
}

.text-apsalut {
  margin-top: 100px;
  margin-left: 118px;
}/*# sourceMappingURL=main.css.map */